body{
    background-color: #f7f9fe;
    margin: 0;
    padding: 0;
}
.Main-wrapper{
    margin-left: 60px;
    margin-right: 60px;
}

header{
    width:100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding-top:20px ;
    align-items: center;
}


.Navbar{
    display: flex;
    justify-content: space-around;
}

.Navbar ul{
    display: flex;
    justify-content: space-around;

}

.Navbar ul li{
    margin-right: 20px;
    list-style-type: none;
    color: #8e9cb1;
    font-size: 13px;
}

.Navbar .btn{
    background-color: #ff8057;
    color: #fff;
    border-radius: 5px;
    padding: 5px 25px;
    font-family: 'Rubik', sans-serif;
    border: none;
}

section{
    display: flex;
    justify-content: space-evenly;
    line-height: 40px;
    font-weight: 400;
    font-size: 20px;
    margin: auto;
    
}
section p{
    font-size: 60px;
    
}

section h4{
color: blue;
font-size: 40px;
font-weight: 500;
line-height:px;
}

section span{
    color: blue;
}

